<section>
      <p style="font-size: 22px;">
        Первый в мире удобный менеджер флеш-карточек. Именно так.
      </p>
</section>

<h2>Все карточки</h2>
<table>
    <th>Исходный текст</th>
    <th>Переведенный текст</th>
    <th>Дата просмотра</th>
<% @card.each do |card| %>
<tr>
<td><%= card.original_text %></td>
<td><%= card.translated_text %></td>
<td><%= card.review_date %></td>
<td><%= link_to "Показать", card_path(card)%></td>
</tr>
<% end %>
</table>